body {
    padding: 0;
    margin: 0;
}

.frstSec {
    /* height: 65vh; */
    width: 100%;
    padding: 2rem;
}

.scndSec {
    /* height: 120vh; */
    padding: 0 2rem;
    padding-bottom: 20px;
}

.frstSec .frst {
    height: 50%;
    width: 100%;
}

.frstSec .scnd {
    height: 40%;
    width: 100%;
}

h1 {
    font-family: 'Prata', serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 4rem;
}

h2 {
    font-family: 'Prata', serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.imge1 {
    height: auto;
    width: 280px;
    border-radius: 14px;
}

.imge2 {
    height: auto;
    width: 150px;
    margin-left: 200px;
    margin-top: 60px;
    border-radius: 16px;
}

@media (min-width: 1024px) {

    .frstSec {
        /* height: 70vh; */
        /* padding: 0 10vw; */
        margin-top: 5vh;
        margin-bottom: 0px;
    }

    .scndSec {
        height: 80vh;
        /* padding: 0 10vw; */
    }

    .frstSec .frst {
        height: auto;
        width: 50%;
    }

    .frstSec .scnd {
        
        width: 50%;
    }

    h1 {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.25rem;
        margin-bottom: 10px;
    }

    .imge1 {
        height: auto;
        width: 450px;
    }

    .imge2 {
        height: auto;
        width: 200px;
        margin-left: 350px;
        margin-top: 120px;
    }
}