.contactBox{
    /* border: 1px solid black; */
    background-color: #dfdfdf;
    border-radius: 20px;
}

.contactpage{
    max-width: 1400px;
    margin: auto;
}

.input{
    width: 75%;
    margin: auto;
    border-bottom: 1px solid black;
    background-color: #dfdfdf00;
    padding: 7px;
}
.message{
    height: 100px;
}